<%= content_for :page_header do %>
  <div class="page_header pagebg1">
    <h1>Mi cuenta</h1>
  </div>
<%end%>

<%= current_user.inspect %>

<div class="left23 left_content">
  <h1>Hola dashboard</h1>
</div>
