<!-- Elastislide Carousel -->
    <div id="carousel" class="es-carousel-wrapper">
        <div class="es-carousel">
            <ul>
                <li>
                <div class="sport_icon">
<%= link_to image_tag('sport_icon_running.png'), root_path, :alt=>"sport_icon_running", :title=>"" %>	
								</div>
                <h2><a href="page.html">Running</a></h2>
                <p><a href="page.html">Winning means you're willing to go longer, work harder, and give more.</a></p>
                </li>     
                <li>
                <div class="sport_icon"><a href="page.html"><img src="images/sport_icon_bodybuilding.png" alt="sport_icon_bodybuilding" title="" /></a></div>
                <h2><a href="page.html">Bodybuilding</a></h2>
                <p><a href="page.html">Don't practice until you get it right. Practice until you can't get it wrong.</a></p>
                </li> 
                <li>
                <div class="sport_icon"><a href="page.html"><img src="images/sport_icon_stretching.png" alt="sport_icon_stretching" title="" /></a></div>
                <h2><a href="page.html">Stretching</a></h2>
                <p><a href="page.html">At one point in your life you either have the thing you want or the reasons why you don't.</a></p>
                </li> 
                <li>
                <div class="sport_icon"><a href="page.html"><img src="images/sport_icon_boxing.png" alt="sport_icon_boxing" title="" /></a></div>
                <h2><a href="page.html">Boxing</a></h2>
                <p><a href="page.html">Love is playing every game as if it's your last.</a></p>
                </li> 
                <li>
                <div class="sport_icon"><a href="page.html"><img src="images/sport_icon_dancing.png" alt="sport_icon_dancing" title="" /></a></div>
                <h2><a href="page.html">Dancing</a></h2>
                <p><a href="page.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm</a></p>
                </li>
                <li>
                <div class="sport_icon"><a href="page.html"><img src="images/sport_icon_swimming.png" alt="sport_icon_swimming" title="" /></a></div>
                <h2><a href="page.html">Swimming</a></h2>
                <p><a href="page.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm</a></p>
                </li>
                <li>
                <div class="sport_icon"><a href="page.html"><img src="images/sport_icon_tennis.png" alt="sport_icon_tennis" title="" /></a></div>
                <h2><a href="page.html">Tennis</a></h2>
                <p><a href="page.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm</a></p>
                </li>
            </ul>
        </div>
    </div>
<!-- End Elastislide Carousel -->
