<div class="footer">
  <div class="left13 fdivider">
    <h2>Ultimos Tweets</h2>


  </div>

  <div class="left13 fdivider">
    <h2>Nuestros Servicios</h2>
    <ul class="list">
      <li>Workout program including one-on-one personalized instruction </li>
      <li>Gym with all <a href="#">exercise machines</a> in top shape</li>
      <li>We offer personal <strong>training sessions</strong> and packages with our certified personal trainers.</li>
    </ul>
  </div>

  <div class="left13">
    <h2>Dinos Hello!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, <a href="#"><strong>sed do eiusmod</strong></a> </p>
    <p><strong>Email:</strong> hola@planetgym.mx <br />
      <strong>Telefono:</strong> 234 324 234 / 0678 </p>
    <div class="socials">
      <ul>
        <li><a href="#"><img src="assets/rss.png" alt="" title="" border="0"/></a></li>
        <li><a href="#"><img src="assets/twitter.png" alt="" title="" border="0"/></a></li>
        <li><a href="#"><img src="assets/facebook.png" alt="" title="" border="0"/></a></li>
        <li><a href="#"><img src="assets/vimeo.png" alt="" title="" border="0"/></a></li>
        <li><a href="#"><img src="assets/google.png" alt="" title="" border="0"/></a></li>
      </ul>
    </div>
  </div>

  <div class="footer_content">
    <div class="footer_text">
      Planet GYM | Gimnasio desde 1990 <a href="http://www.incaztech.com">incaztech</a>
    </div>
    <div class="footer_menu">
      <ul>
        <li><%= link_to "inicio", root_path %></li>
        <li><%= link_to "GYM", root_path %></li>
        <li><%= link_to "avisos", root_path %></li>
        <li><%= link_to "contacto" %> </li>
          <li><a href="contact.html">contact</a></li>
        </ul>
      </div>
    </div>
  </div>

