<div class="footer">
  <div class="left13 fdivider">
    <h2>Latest Tweets</h2>

    <div class="tweet"></div>

  </div>

  <div class="left13 fdivider">
    <h2>Our Services</h2>
    <ul class="list">
      <li>Workout program including one-on-one personalized instruction </li>
      <li>Gym with all <a href="#">exercise machines</a> in top shape</li>
      <li>We offer personal <strong>training sessions</strong> and packages with our certified personal trainers.</li>
    </ul>
  </div>

  <div class="left13">
    <h2>Say Hello!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, <a href="#"><strong>sed do eiusmod</strong></a> </p>
    <p><strong>Email:</strong> bodybuilding@email.com <br />
      <strong>Phone:</strong> 234 324 234 / 0678 </p>
    <div class="socials">
      <ul>
        <li><a href="#"><img src="assets/rss.png" alt="" title="" border="0"/></a></li>
        <li><a href="#"><img src="assets/twitter.png" alt="" title="" border="0"/></a></li>
        <li><a href="#"><img src="assets/facebook.png" alt="" title="" border="0"/></a></li>
        <li><a href="#"><img src="assets/vimeo.png" alt="" title="" border="0"/></a></li>
        <li><a href="#"><img src="assets/google.png" alt="" title="" border="0"/></a></li>
      </ul>
    </div>
  </div>

  <div class="footer_content">
    <div class="footer_text">
      Power Gym | Responsive Fitness Club Template by <a href="http://famousthemes.com">Famous Themes</a>
    </div>
    <div class="footer_menu">
      <ul>
        <li><a href="index.html">home</a></li>
        <li><a href="page.html">the club</a>
          <li><a href="program.html">program</a></li>
          <li><a href="blog.html">news</a></li>
          <li><a href="contact.html">contact</a></li>
        </ul>
      </div>

    </div>


  </div>

