  <div id="header">
  	<div class="logo"><a href="index.html"><img src="assets/logo.png" alt="logo" title="logo" class="logo_image" /></a><h1><a href="index.html">Power Gym</a></h1></div>

    <div class="menu">
        <ul id="main_menu">
        	<li class="selected"><a href="index.html">home</a></li>
            <li><a href="page.html">the club</a>
            <ul>
                <li><a href="page.html">services</a></li>
                <li><a href="gallery.html">photo gallery</a></li>
                <li><a href="videos.html">videos</a></li>
            </ul>
            </li>
            <li><a href="program.html">program</a></li>
            <li><a href="trainers.html">trainers</a></li>
            <li><a href="blog.html">news</a></li>
            <li><a href="contact.html">contact</a></li>
        </ul>
     </div>

  </div><!-- End of Header-->

