  <%= render 'home/slider' %>
  <%= render 'home/elastislide' %>
<div class="content">

  <div class="left13">
    <h2>Fitness Club</h2>
    <img src="assets/image_13.jpg" alt="" title="" class="border_img" />
    <h5 class="subtitle">Winning means you're willing to go longer, work harder, and give more than anyone else.</h5>
    <p>
      Ut enim ad minima veniam, quis nostru <strong>exercitationem</strong> ullam corporis laboriosam, nisi ut aad minima veniamliquid ex ea commodi <strong><a href="#">consequatur</a> laboriosam</strong> ipsum dolor sit amet, consectetur.
    </p>
  </div>
  <div class="left13">
    <h2>News &amp; Updates</h2>
    <div class="post_small">
      <img src="assets/post_thumb.jpg" alt="" title="" class="post_thumb" />
      <h3><a href="#">Power Bodybuilding</a></h3>
      <p>
        Sed ut perspiciatis <a href="#">unde omnis</a> iste natus error sit
      </p>
    </div>

    <div class="post_small">
      <img src="assets/post_thumb2.jpg" alt="" title="" class="post_thumb" />
      <h3><a href="#">Solar Center</a></h3>
      <p>
        Simplicity is more <a href="#">complex</a> than you <strong>probably</strong> think it is
      </p>
    </div>

    <div class="post_small">
      <img src="assets/post_thumb3.jpg" alt="" title="" class="post_thumb" />
      <h3><a href="#">Morning Energy</a></h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit iste natus error sit
      </p>
    </div>

    <a href="#" class="read_more">read the blog</a>
  </div>

  <div class="left13">
    <h2>Testimonials</h2>
    <div class="testimonial">
      <p>
        At one point in <strong>your life</strong> you either have the thing you want or <a href="#"><strong>the reasons</strong></a> why you don't you do it before.
      </p>
      <a href="#" class="read_more">by John Doe</a>
    </div>
    <h2>Program</h2>
    <ul class="program_list">
      <li><span class="col1">Monday</span><span class="col2"><a href="program.html">09:00 - 21:30</a></span></li>
      <li class="even"><span class="col1">Tuesday</span><span class="col2"><a href="program.html">08:00 - 20:30</a></span></li>
      <li><span class="col1">Wednesday</span><span class="col2"><a href="program.html">08:00 - 20:30</a></span></li>
      <li class="even"><span class="col1">Thursday</span><span class="col2"><a href="program.html">08:00 - 20:30</a></span></li>
      <li><span class="col1">Friday</span><span class="col2"><a href="program.html">08:00 - 20:30</a></span></li>
      <li class="even"><span class="col1">Saturday</span><span class="col2"><a href="program.html">09:00 - 16:30</a></span></li>
      <li><span class="col1">Sunday</span><span class="col2"><a href="program.html">10:00 - 14:00</a></span></li>
    </ul>
  </div>

  <div class="left_full">
    <h2>Bodybuilding Supplements</h2>
    <div class="supplements_tab">
      <a href="page.html"><img src="assets/supplements01.png" alt="" title="" /></a>
      <a href="page.html"><img src="assets/supplements02.png" alt="" title="" /></a>
      <a href="page.html"><img src="assets/supplements03.png" alt="" title="" /></a>
      <a href="page.html"><img src="assets/supplements04.png" alt="" title="" /></a>
      <a href="page.html"><img src="assets/supplements02.png" alt="" title="" /></a>
      <a href="page.html"><img src="assets/supplements01.png" alt="" title="" /></a>
      <a href="page.html"><img src="assets/supplements03.png" alt="" title="" /></a>
      <a href="page.html"><img src="assets/supplements04.png" alt="" title="" /></a>
    </div>
  </div>

  <div class="clear"></div>
</div>

