    <h3>Información de Contacto</h3>
    <div class="page_services">
      <ul>
        <li>
          <div class="sport_icon"><a href="page.html"><img src="assets/icon_contact.png" alt="sport_icon_running" title="" /></a></div>
          <span><a href="page.html">Email</a></span>
          <p><a href="page.html">contacto@planetgym.mx <br />info@planetgym.mx</a></p>
        </li>
        <li>
          <div class="sport_icon"><a href="page.html"><img src="assets/icon_phone.png" alt="sport_icon_bodybuilding" title="" /></a></div>
          <span><a href="page.html">Telefono</a></span>
          <p><a href="page.html">123 / 345 674 35  <br /> 345 / 695 204 334</a></p>
        </li>
        <li>
          <div class="sport_icon"><a href="page.html"><img src="assets/icon_clients.png" alt="sport_icon_stretching" title="" /></a></div>
          <span><a href="page.html">Difruta de Planet Gym</a></span>
          <p><a href="page.html">El punto en tu vida que siempre haz deseado ven y descubrelo.</a></p>
        </li>
        <li>
          <div class="sport_icon"><a href="page.html"><img src="assets/icon_shop.png" alt="sport_icon_boxing" title="" /></a></div>
          <span><a href="page.html">Tienda de Suplementos</a></span>
          <p><a href="page.html">Proximante en linea</a></p>
        </li>

      </ul>
    </div>

